.image-section label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted rgb(2, 166, 136);;
    background-color: rgb(2, 166, 136);
    color:white;
    border-radius: 20px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: large;
     margin-top: 130px;
     position: relative;
     margin-left: -40px;
}
.image-upload-section label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted rgb(2, 166, 136);;
    background-color: rgb(2, 166, 136);
    color:white;
    border-radius: 20px;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    font-size: large;
     margin-top: 130px;
     position: relative;
     margin-left: -40px;
}

label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}

.image-section input {
    display: none;
}